<div class="container">
  <h2>Registrations for <%= link_to @event.name, @event%> Event</h2>

  <%@registration.each do |reg|%>
  <ul>
      <li><%= link_to reg.user.name, user_path(reg.user)%> &bull; <%=reg.how_heard%></li>
  </ul>
  <%end%>
</div>