<div class="container">
  <h2>Registrations for <%= link_to @event.name, @event%> Event</h2>

  <%@registration.each do |reg|%>
  <ul>
      <li><%=reg.name%> &bull; <%=reg.how_heard%></li>
  </ul>
  <%end%>
</div>