 <% if object.errors.any?%>
    <div class="errors">
       <h4>
       <%= pluralize(object.errors.size, "error")%> occured
       </h4>
       <ul>
          <% object.errors.full_messages.each do |message|%>
          <li><%=message%></li>
          <%end%>
       </ul>
    </div>
 <%end%>